APP_NAME=MASUKKAN_NAMA_PROYEK
APP_ENV="local" # Ubah ke production jika sudah online
APP_KEY=HAPUS_KALIMAT_INI_DAN_JALANKAN_KEY_GENERATE_DI_TERMINAL
APP_DEBUG="true" # Ganti ke false saat sudah di production
APP_URL="https://[url_proyek]/" # Ganti dengan url proyek saat ini

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=MASUKKAN_KONEKSI_HOST_DATABASE
DB_PORT=MASUKKAN_PORT_KONEKSI_DATABASE
DB_DATABASE=MASUKKAN_NAMA_DATABASE
DB_USERNAME=MASUKKAN_USERNAME_DATABASE
DB_PASSWORD=MASUKKAN_PASSWORD_DATABASE

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=60
SESSION_COOKIE="template_session" # Ganti dengan nama proyek saat ini, format [nama_proyek]_session atau isi dengan 'session' saja
SESSION_DOMAIN=null

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST="tsu-project-template.test" # Ganti dengan nama host proyek saat ini
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
#MAIL_FROM_NAME="Admin Tiga Serangkai University"
MAIL_FROM_ADDRESS="no-reply@tsu.ac.id"
MAIL_FROM_NAME="${APP_NAME}"
# sesuaikan dengan port
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Gmaps API Key
GMAPS_KEY=MASUKKAN_GMAPS_KEY

# Homebase Setting
HOMEBASE_URL="http://202.10.36.246/tsu_homebase" # JANGAN DIGANTI

# Authorization Grant Oauth for Auth Project Children
TSU_SSO_CLIENT_ID=MASUKKAN_CLIENT_ID_DARI_TSU_HOMEBASE
TSU_SSO_CLIENT_SECRET=MASUKKAN_CLIENT_SECRET_DARI_TSU_HOMEBASE
TSU_SSO_REDIRECT_URI="https://[url_proyek]/login/sso/callback" # Ganti dengan Callback per modul

# Client Credentials Oauth Project Children
HOMEBASE_CLIENT_ID=MASUKKAN_CLIENT_ID_DARI_TSU_HOMEBASE
HOMEBASE_CLIENT_SECRET=MASUKKAN_CLIENT_SECRET_DARI_TSU_HOMEBASE

# Settings Module
MODULE_FULL_NAME="tsu_template" # Kecil semua dan spasi diganti "_", JANGAN DI KOSONGI
MODULE_NAME="template" # Kecil semua dan spasi diganti "_", JANGAN DI KOSONGI
TABLE_NAME="" # Bisa dengan [nama proyek] atau kosongi menjadi "" untuk default nama table

# Settings Akun Darurat Pikdi
PIKDI_ADMIN_NAME="PIKDI TSU"
PIKDI_ADMIN_USERNAME=pikditsu
PIKDI_ADMIN_EMAIL=pikdi@tsu.ac.id

# Emergency Secret Key
# Signature URL dari Homebase (Harus SAMA dengan Homebase)
PIKDI_EMERGENCY_SECRET=MASUKKAN_SECRET_KEY

# Untuk Password Login Manual (Secret dari Hash)
PIKDI_RESCUE_SECRET=MASUKKAN_ENCRYPTED_SECRET_KEY

# API Token untuk Sinkronisasi ke Homebase
PIKDI_SYNC_SECRET=MASUKKAN_ENCRYPTED_SECRET_KEY

# --- ROLE PERMISSION ---
# Pisahkan dengan koma. Contoh: dosen,tendik
# Kosongkan jika ingin mengizinkan SEMUA role.
APP_ALLOWED_ROLES=
